/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Feb-2019, 14:58:06
    Author     : pol
*/

.masterDivEmail {
padding: 10rem $homepageMargin 0rem $homepageMargin;    
}

.masterDivEmail .div {}

.back {
display: block;    
}

.checkOutTitle {
display: block;
}

.emailTitle {
    
}

.enterEmail {
    
}

.formWrapper {
    
}

.emailWhy {
    
}

.emailForm  {
    
}

.passwordTitle  {
    
}

.passwordForm {
    
}

.passwordFormA {
    
}

.passwordFormB {
    
}

.continueArrow  {}
