/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Nov-2019, 14:39:15
    Author     : pol
*/
.homePage {
    overflow: scroll;   
}

.featuresBox {
    display: flex;
    //justify-content: space-between;
    //background-color: red;
    flex-wrap: wrap;
    flex-direction: row; 
    width: auto;
}

.feature {
    //background-color: blue;
    width: 50%;
       
}

.scrollTop {
    
    background-color: red;
    z-index: 20;
    position:relative;
    overflow:scroll;
    width: 100%;
    
}