/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-May-2019, 20:31:42
    Author     : pol
*/

.ingredients_IngHeading{
color: white;
background-color: black;
margin: 0rem -1.5rem;

}